.b{
    display: flex;
    flex-direction: row;
    background-color:white;
    justify-content: space-evenly;
    align-items: center;
    color:black;
    
}
.a{
    background-color:white;
}
.q{
    background-color: #E4E0E1;
    padding:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}